VITE_FIREBASE_API_KEY=SUA_CHAVE_FIREBASE_AQUI
VITE_FIREBASE_AUTH_DOMAIN=project-f-77ed8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=project-f-77ed8
VITE_FIREBASE_STORAGE_BUCKET=project-f-77ed8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=261138589545
VITE_FIREBASE_APP_ID=1:261138589545:web:c04130007812cf691fa68c
VITE_FIREBASE_MEASUREMENT_ID=G-ETLN1M012M












