@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Remove as setas de incremento/decremento nativas (spinners) de todos os inputs numéricos */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }
  input[type="number"] {
    -moz-appearance: textfield !important;
    appearance: textfield !important;
  }
}