@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html.dark, body.dark {
  background-color: #000000;
  color: #f3f4f6;
}

/* Remove spinners de inputs numéricos */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Ocultar barra de rolagem onde aplicável */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}